__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.joblib
models/*.json
models/**/*.joblib
models/**/*.json
models/notebook/*.md
!models/.gitkeep
